/* All app */

.App {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a {
  text-decoration: none;
}

.button {
  background-color: #cd8de9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
}

/* Navbar */
.navbar {
  background-color: #cd8de9;
}

.navbar-element {
  text-decoration: none;
  margin: 20px;
  padding: 5px;
}

.navbar-user-img {
  height: 50px;
  width: 50px;
}

/* HomePage */

.homepage-avatar {
  height: 70px;
  width: 70px;
}


.container {
  padding: 2px 16px;
}

.empty {
  padding-top: 50px;
}

.homepage-input {
  padding: 50px;
}

/* Login */

.login-select {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  margin: 20px
}

.img-login {
  width: 200px;
  height: 200px;
  margin: 80px;
}

/* Each Poll */

.parent-card {
  display: grid;
  place-items: center;
}

.card-poll {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 20px;
  padding: 20px;
  width: 400px;
}

.card-poll:hover {
  box-shadow: 4px 16px 32px 4px rgba(0,0,0,0.2);
  padding: 30px;
}

.avatar-poll {
  width: 200px;
  height: 250px;
}

.poll-option {
  border-style: solid;
  margin: 20px;
  padding: 10px;
  border-color: #863aa7;
}

.button-vote {
  background-color: #cd8de9;
  border: none;
  color: white;
  padding: 10px 26px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
}

/* New question */

.poll-select {
  width: 600px;
  height: 40px;
  border-radius: 10px;
  margin: 20px
}

/* Leaderboard */

.avatar-table {
  height: 120px;
  width: 70px;
}

table {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
th, td {
  border-bottom: 1px solid #ddd;
}